@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif ;
}
.navbar{
  background-color: aliceblue;
}
.navbar-nav{
  font-size: 1.4rem;
  margin-left: 500px;
}
.navbar-brand{
  font-size: 1.9rem;
  color: rgba(128, 128, 128, 0.308) ;
}
.navbar a:hover{
  color: blue;
}
.menu_active{
  font-weight: bold;
  border-bottom: 1px solid rgba(128, 0, 128, 0.267);
}
.image{
  
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
  .imag{
    animation: u-down 2s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes u-down{
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
  @keyframes u-down{
    0%{
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
}
 img {
  width: 200px;
  height: 200px;

}
.text{
  margin-top: 70px;
}
.str{
  color: blue;
  margin-top: 10px;
  margin-right: 380px;
}
.home1{
  display: inline-block;
}
.home{
  display: flex;
  justify-content: space-between;
}
a.btn{
  border: 2px solid rgb(0, 132, 255);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 20px 30px;
  transition: 0.5s;
  text-decoration: none;
  border-radius: 20px;
  margin-right: 900px;
}
a.btn:hover{
  color: white;
  background-color: blue;
}
.home2{
  display: grid;
}
.about{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: 30vh;
}
a.buttn{
  border: 2px solid rgb(0, 132, 255);
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  border-radius: 10px;
  margin-right: 900px;
}
a.buttn:hover{
  color: white;
  background-color:blue;
}
.card-img-top{
  width: 500px;
}








